### When you answer your questions, please use [emoji](https://getemoji.com/) and [good markdown](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html) so that it is easy for Mahyar to find your work and grade it. Thanks!

Be sure to put your name here:
*  Md Arifuzzaman Faisal

____

# HW #3

____

____
## GitHub

It is important to have a public place to show your work, and GitHub (GH) is one of the standards you need to know for this. By the end of the semester you will have GH repos (repositories) for both of your projects. Among other goals, this will allow you to show off your work!

I expect that the students in this class have very different experiences with GH, so this problem might be really short or really long.

‚úçüèª (5pts) First, make a GH account for yourself [here](https://github.com/). Put your GH account information in a markdown cell. If you already have a GH repo, you do not need to create a new one; just put the name in the markdown cell. Or, create a new account for this class. I would like to collect the projects in one place so that we can all see them, even after the class is over.

If you want to brush up on GH, or learn it from scratch, I recommend watching some YouTube videos. I recommend [this one](https://www.youtube.com/watch?v=x0EYpi38Yp4), or [this one](https://www.youtube.com/watch?v=DVRQoVRzMIY) and this pair: [first one](https://www.youtube.com/watch?v=USjZcfj8yxE) and [second one](https://www.youtube.com/watch?v=nhNq2kIvi9s).

If you have any questions, please ask us! We are here to help!

‚úçüèª (2 pts) Second, once you have your personal GH repo setup, practice by putting your web apps from this class there.

Put a link to your web app here so that Mahyar can check to see that it worked.

____
## Project Practice

This week you are going to practice for your midterm project. The midterm project is DS and the final project is machine learning (ML). What we want to explore in this problem is what we can do with DS.

You will choose the topic of your project. This means:
* you can use a dataset that you have from your job,
* you can use a dataset that leads to a publication,
* or, you can use a standard dataset if you don't have your own.

The point is that this is flexible and can scale with each student. What I don't recommend is building your own dataset. While I would very much love to see that, there is a risk that it will take too long and possibly not lead to anything. (If you really want to do that, contact me!)

Because the projects will be quite different, the instructions will be somewhat vague on purpose. But, here are the rules:
1. use most of the tools of EDA,
2. use visualization at a professional level (which we will cover soon),
3. be as quantitive as possible, using statistical tools,
4. have a question or goal in mind -- **a story**; or, if you explore a dataset, you should reach a new conclusion or observation about the dataset,
5. the final result will be a web app that others can access. (I will walk you through using `streamlit` with `GitHub` and `Heroku`, but talk to me if you want to use any of the many other options.)

‚úçüèª (15 pts) Pick **three** datasets - your choice. You can find a lot of datasets [here](https://archive.ics.uci.edu/); search for topics that are of most interest to you. From these three datasets, write code to perform EDA on them and put that below. Below the EDA code cells for each dataset, open a markdown cell and write a paragraph that answers these questions:
1. why did you pick this dataset?
2. are there any interesting insights you gained from performing EDA on this dataset? (use all/most of the Seaborn tools we discussed this week)
3. are there any actionable insights you can get from this data? (For example, if you were a CEO and looking at the mpg dataset, what might you conclude?)

Finally, open a new markdown and discuss which of these three datasets would make the best project dataset. Were some of the datasets disappointing? Was one of the datasets much richer with possibilities? The reason you are asked to pick three is that some datasets is that you need to be able to assess which datasets are more or less interesting for your projects.

[Here is an example you can follow that uses a wine dataset.](https://murillogroupmsu.com/wine/) It is also [at GH](https://gist.github.com/MurilloGroupMSU/678f61bbe225bdd166e8b946765d2931).

____
## Pandas Practice

‚úçüèª  (10pts) From the standard penguins dataset, answer this question: what percentage of female penguins from Dream have a body mass greater than $4000$ grams? (Use only Pandas attributes and methods. Show your code as well as your answer.)

[Hint.](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [2]:
import seaborn as sns
# Load the penguins dataset
df_penguins = sns.load_dataset('penguins')
df_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [3]:
df_penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [5]:
# Filter for female penguins from Dream with body mass > 4000 grams
female_dream_penguins = df_penguins[(df_penguins['sex'] == 'Female') & (df_penguins['island'] == 'Dream') & (df_penguins['body_mass_g'] > 4000)]
female_dream_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
160,Chinstrap,Dream,46.0,18.9,195.0,4150.0,Female

In [7]:
# Calculate the percentage with respect to Dream island
percentage_female_dream_penguins_above_4000g = (len(female_dream_penguins) / len(df_penguins[df_penguins['island'] == 'Dream'])) * 100

print(f"The percentage of female penguins from Dream with a body mass greater than 4000 grams is: {percentage_female_dream_penguins_above_4000g:.2f}%")

The percentage of female penguins from Dream with a body mass greater than 4000 grams is: 0.81%

In [10]:
# Calculate the percentage with respect to total dataset
percentage_female_dream_penguins_above_4000g = (len(female_dream_penguins) / len(df_penguins)) * 100

print(f"The percentage of female penguins from Dream with a body mass greater than 4000 grams is: {percentage_female_dream_penguins_above_4000g:.2f}%")

The percentage of female penguins from Dream with a body mass greater than 4000 grams is: 0.29%

____
## Python Practice

‚úçüèª (5 pts) Run each of these codes and explain what how keywords work in Python functions.

In [1]:
def who_I_am(name, class_number, department):
  print(f"Hello. My name is {name} and I am in {department} {class_number} this semester.")

def who_I_am_kw(name, class_number=830, department="CMSE"):
  print(f"Hello. My name is {name} and I am in {department} {class_number} this semester.")

In [2]:
who_I_am("John", 830, "CMSE")

Hello. My name is John and I am in CMSE 830 this semester.

#### `who_I_am` function have no parameter with a default value.
#### This call `who_I_am` function with value "John", 830, and "CMSE". And `who_I_am` function print accordingly.

In [3]:
who_I_am(830, "CMSE", "John")

Hello. My name is 830 and I am in John CMSE this semester.

In [4]:
who_I_am(name = "John", class_number = 830, department = "CMSE")

Hello. My name is John and I am in CMSE 830 this semester.

In [5]:
who_I_am(department = "CMSE", class_number = 830, name = "John")

Hello. My name is John and I am in CMSE 830 this semester.

In [6]:
who_I_am_kw("Jack")

Hello. My name is Jack and I am in CMSE 830 this semester.

In [7]:
who_I_am_kw("Jack", class_number = 123)

Hello. My name is Jack and I am in CMSE 123 this semester.

In [8]:
who_I_am_kw(class_number = 123, "Jack")

SyntaxError: positional argument follows keyword argument (2915810975.py, line 1)

____
## PEP-8

‚úçüèª (5 pts) Which of these follows the [PEP-8 standard](https://peps.python.org/pep-0008/)?

* `if x == 4 : print(x , y) ; x , y = y , x`
* `if x == 4: print(x, y); x, y = y, x`
* neither of these

#### Answer: The second option `if x == 4: print(x, y); x, y = y, x` follows the PEP-8 standard.

____
## EDA: Seaborn and Correlations

‚úçüèª  (10pts) Read in the mpg dataset and perform EDA on it. Specifically:
* get the basic statistics from the df,
* make a `displot` of horsepower versus mpg, including a rug plot and with a kde,
* make a Seaborn `heatmap` of the correlations using Pandas' `.corr`, with annotations and your choice of colormap,
* make a `regplot` ([or, `lmplot`](https://seaborn.pydata.org/tutorial/regression.html)) of horsepower versus mpg using the lowess smoother; choose good colors,
* design a `FacetGrid` of your choice.

After each plot, open a markdown cell and give one sentence of what the plot tells you. That is, as a data scientist, what did this form of EDA reveal about the data? (If it didn't reveal anything to you, that is also an important possible answer.)